VITE_APPWRITE_URL = "https://cloud.appwrite.io/v1"
VITE_APPWRITE_PROJECT_ID = "6742d51f00311f9a4e4d"
VITE_APPWRITE_DATABASE_ID = "6743381900031fa29648"
VITE_APPWRITE_COLLECTION_ID = "6743383d000510eae709"
VITE_APPWRITE_BUCKET_ID = "67433a58003bbf1dafa9"